* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
}

.header ul li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
}

.header a {
    text-decoration: none;
    color: red;
    padding: 3px;
}

.header a:hover {
    background-color: orangered;
    color: #333;
    border-radius: 5px;
}

.hero {
    height: 300px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: 0 -200px;
    border-top: 5px solid orangered;
    border-bottom: 5px solid red;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 25px;
    font-weight: bold;
}

.content .penulis {
    font-size: 10px;
}

.content .penulis a {
    text-decoration: none;
    color: red;
}

.content .penulis a:hover {
    color: orangered;
}

.content p {
    margin-bottom: 20px;
    font-size: 15px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}